/*--------------------------------------------------*
| table_form                                        |
*--------------------------------------------------*/
#table_form {
	border: 1px solid #000000;
	border-radius: 5px;
}
#table_form td {
	background: #F1F1F1;
}
#table_form tr td:first-child  {
	text-align: end;
	padding: 0px 5px 0px 10px;
}
#table_form tr:last-child td {
	padding: 5px;
}
input {
	width: 225px;
	height: 20px;
    margin: 1px;
	border: 0px;
}
label {
	padding-right: 5px;
}